Air Quality Analysis :

In [ ]:
'''
Data Set Information:

The dataset contains 9358 instances of hourly averaged responses from an array of 5 metal oxide chemical sensors embedded in an Air Quality Chemical Multisensor Device. The device was located on the field in a significantly polluted area, at road level,within an Italian city. Data were recorded from March 2004 to February 2005 (one year)representing the longest freely available recordings of on field deployed air quality chemical sensor devices responses. Ground Truth hourly averaged concentrations for CO, Non Metanic Hydrocarbons, Benzene, Total Nitrogen Oxides (NOx) and Nitrogen Dioxide (NO2) and were provided by a co-located reference certified analyzer. Evidences of cross-sensitivities as well as both concept and sensor drifts are present as described in De Vito et al., Sens. And Act. B, Vol. 129,2,2008 (citation required) eventually affecting sensors concentration estimation capabilities. Missing values are tagged with -200 value.
This dataset can be used exclusively for research purposes. Commercial purposes are fully excluded.

'''

In [ ]:
'''
Attribute Information:

0 Date (DD/MM/YYYY)
1 Time (HH.MM.SS)
2 True hourly averaged concentration CO in mg/m^3 (reference analyzer)
3 PT08.S1 (tin oxide) hourly averaged sensor response (nominally CO targeted)
4 True hourly averaged overall Non Metanic HydroCarbons concentration in microg/m^3 (reference analyzer)
5 True hourly averaged Benzene concentration in microg/m^3 (reference analyzer)
6 PT08.S2 (titania) hourly averaged sensor response (nominally NMHC targeted)
7 True hourly averaged NOx concentration in ppb (reference analyzer)
8 PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally NOx targeted)
9 True hourly averaged NO2 concentration in microg/m^3 (reference analyzer)
10 PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally NO2 targeted)
11 PT08.S5 (indium oxide) hourly averaged sensor response (nominally O3 targeted)
12 Temperature in Â°C
13 Relative Humidity (%)
14 AH Absolute Humidity

'''

In [64]:
# Importing required libraries:

import pandas as pd
import numpy as np
import plotly_express as px

In [65]:
df_air = pd.read_csv('E:\Bootcamp CT\Week_6\Assignments\Day_2\AirQualityUCI.csv',  sep=';', decimal= ',', parse_dates=[['Date', 'Time']])

In [66]:
display(df_air)

,Date_Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004 18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,10/03/2004 19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,10/03/2004 20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,10/03/2004 21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,10/03/2004 22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
display(df_air.columns)

Index(['Date_Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [67]:
df_air.columns = df_air.columns.str.lower() # Converting column titles to lower-case for easier access
display(df_air)

,date_time,co(gt),pt08.s1(co),nmhc(gt),c6h6(gt),pt08.s2(nmhc),nox(gt),pt08.s3(nox),no2(gt),pt08.s4(no2),pt08.s5(o3),t,rh,ah,unnamed: 15,unnamed: 16
0,10/03/2004 18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,10/03/2004 19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,10/03/2004 20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,10/03/2004 21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,10/03/2004 22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# Deleting unnamed columns 

df = df_air.drop(['unnamed: 15', 'unnamed: 16'], axis=1)

In [69]:
display(df)

,date_time,co(gt),pt08.s1(co),nmhc(gt),c6h6(gt),pt08.s2(nmhc),nox(gt),pt08.s3(nox),no2(gt),pt08.s4(no2),pt08.s5(o3),t,rh,ah
0,10/03/2004 18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,10/03/2004 19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,10/03/2004 20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,10/03/2004 21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,10/03/2004 22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.columns

Index(['date_time', 'co(gt)', 'pt08.s1(co)', 'nmhc(gt)', 'c6h6(gt)',
       'pt08.s2(nmhc)', 'nox(gt)', 'pt08.s3(nox)', 'no2(gt)', 'pt08.s4(no2)',
       'pt08.s5(o3)', 't', 'rh', 'ah'],
      dtype='object')

In [78]:
#Renaming some of the columns that are hard to understand

df = df.rename(columns=
               {'t': 'Temperature',
                 'rh': 'Relative Humidity',
                   'ah': 'Absolute Humidity'})

In [80]:
df.columns

Index(['date_time', 'co(gt)', 'pt08.s1(co)', 'nmhc(gt)', 'c6h6(gt)',
       'pt08.s2(nmhc)', 'nox(gt)', 'pt08.s3(nox)', 'no2(gt)', 'pt08.s4(no2)',
       'pt08.s5(o3)', 'Temperature', 'Relative Humidity', 'Absolute Humidity'],
      dtype='object')

In [79]:
display(df)

,date_time,co(gt),pt08.s1(co),nmhc(gt),c6h6(gt),pt08.s2(nmhc),nox(gt),pt08.s3(nox),no2(gt),pt08.s4(no2),pt08.s5(o3),Temperature,Relative Humidity,Absolute Humidity
0,10/03/2004 18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,10/03/2004 19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,10/03/2004 20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,10/03/2004 21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,10/03/2004 22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,nan nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# Because Missing values are tagged with -200, so we replace them with 0.

df = df.replace(-200.0, 0)

In [86]:

display(df.head(50))

,date_time,co(gt),pt08.s1(co),nmhc(gt),c6h6(gt),pt08.s2(nmhc),nox(gt),pt08.s3(nox),no2(gt),pt08.s4(no2),pt08.s5(o3),Temperature,Relative Humidity,Absolute Humidity
0,10/03/2004 18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,10/03/2004 19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,10/03/2004 20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,10/03/2004 21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,10/03/2004 22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
5,10/03/2004 23.00.00,1.2,1197.0,38.0,4.7,750.0,89.0,1337.0,96.0,1393.0,949.0,11.2,59.2,0.7848
6,11/03/2004 00.00.00,1.2,1185.0,31.0,3.6,690.0,62.0,1462.0,77.0,1333.0,733.0,11.3,56.8,0.7603
7,11/03/2004 01.00.00,1.0,1136.0,31.0,3.3,672.0,62.0,1453.0,76.0,1333.0,730.0,10.7,60.0,0.7702
8,11/03/2004 02.00.00,0.9,1094.0,24.0,2.3,609.0,45.0,1579.0,60.0,1276.0,620.0,10.7,59.7,0.7648
9,11/03/2004 03.00.00,0.6,1010.0,19.0,1.7,561.0,0.0,1705.0,0.0,1235.0,501.0,10.3,60.2,0.7517
10,11/03/2004 04.00.00,0.0,1011.0,14.0,1.3,527.0,21.0,1818.0,34.0,1197.0,445.0,10.1,60.5,0.7465
11,11/03/2004 05.00.00,0.7,1066.0,8.0,1.1,512.0,16.0,1918.0,28.0,1182.0,422.0,11.0,56.2,0.7366
12,11/03/2004 06.00.00,0.7,1052.0,16.0,1.6,553.0,34.0,1738.0,48.0,1221.0,472.0,10.5,58.1,0.7353
13,11/03/2004 07.00.00,1.1,1144.0,29.0,3.2,667.0,98.0,1490.0,82.0,1339.0,730.0,10.2,59.6,0.7417
14,11/03/2004 08.00.00,2.0,1333.0,64.0,8.0,900.0,174.0,1136.0,112.0,1517.0,1102.0,10.8,57.4,0.7408
15,11/03/2004 09.00.00,2.2,1351.0,87.0,9.5,960.0,129.0,1079.0,101.0,1583.0,1028.0,10.5,60.6,0.7691
16,11/03/2004 10.00.00,1.7,1233.0,77.0,6.3,827.0,112.0,1218.0,98.0,1446.0,860.0,10.8,58.4,0.7552
17,11/03/2004 11.00.00,1.5,1179.0,43.0,5.0,762.0,95.0,1328.0,92.0,1362.0,671.0,10.5,57.9,0.7352
18,11/03/2004 12.00.00,1.6,1236.0,61.0,5.2,774.0,104.0,1301.0,95.0,1401.0,664.0,9.5,66.8,0.7951
19,11/03/2004 13.00.00,1.9,1286.0,63.0,7.3,869.0,146.0,1162.0,112.0,1537.0,799.0,8.3,76.4,0.8393
20,11/03/2004 14.00.00,2.9,1371.0,164.0,11.5,1034.0,207.0,983.0,128.0,1730.0,1037.0,8.0,81.1,0.8736
21,11/03/2004 15.00.00,2.2,1310.0,79.0,8.8,933.0,184.0,1082.0,126.0,1647.0,946.0,8.3,79.8,0.8778
22,11/03/2004 16.00.00,2.2,1292.0,95.0,8.3,912.0,193.0,1103.0,131.0,1591.0,957.0,9.7,71.2,0.8569
23,11/03/2004 17.00.00,2.9,1383.0,150.0,11.2,1020.0,243.0,1008.0,135.0,1719.0,1104.0,9.8,67.6,0.8185
24,11/03/2004 18.00.00,4.8,1581.0,307.0,20.8,1319.0,281.0,799.0,151.0,2083.0,1409.0,10.3,64.2,0.8065
25,11/03/2004 19.00.00,6.9,1776.0,461.0,27.4,1488.0,383.0,702.0,172.0,2333.0,1704.0,9.7,69.3,0.8319
26,11/03/2004 20.00.00,6.1,1640.0,401.0,24.0,1404.0,351.0,743.0,165.0,2191.0,1654.0,9.6,67.8,0.8133
27,11/03/2004 21.00.00,3.9,1313.0,197.0,12.8,1076.0,240.0,957.0,136.0,1707.0,1285.0,9.1,64.0,0.7419
28,11/03/2004 22.00.00,1.5,965.0,61.0,4.7,749.0,94.0,1325.0,85.0,1333.0,821.0,8.2,63.4,0.6905
29,11/03/2004 23.00.00,1.0,913.0,26.0,2.6,629.0,47.0,1565.0,53.0,1252.0,552.0,8.2,60.8,0.6657
30,12/03/2004 00.00.00,1.7,1080.0,55.0,5.9,805.0,122.0,1254.0,97.0,1375.0,816.0,8.3,58.5,0.6438
31,12/03/2004 01.00.00,1.9,1044.0,53.0,6.4,829.0,133.0,1247.0,110.0,1378.0,832.0,7.7,59.7,0.6308
32,12/03/2004 02.00.00,1.4,988.0,40.0,4.1,718.0,82.0,1396.0,91.0,1304.0,692.0,7.1,61.8,0.6276
33,12/03/2004 03.00.00,0.8,889.0,21.0,1.9,574.0,0.0,1680.0,0.0,1187.0,512.0,7.0,62.3,0.6261
34,12/03/2004 04.00.00,0.0,831.0,10.0,1.1,506.0,21.0,1893.0,32.0,1134.0,384.0,6.1,65.9,0.6248
35,12/03/2004 05.00.00,0.6,847.0,7.0,1.0,501.0,30.0,1895.0,44.0,1155.0,394.0,6.3,65.0,0.6233
36,12/03/2004 06.00.00,0.8,927.0,17.0,1.8,571.0,56.0,1685.0,71.0,1223.0,487.0,6.8,62.9,0.6234
37,12/03/2004 07.00.00,1.4,1091.0,33.0,4.4,730.0,109.0,1387.0,104.0,1361.0,748.0,6.4,65.1,0.6316
38,12/03/2004 08.00.00,4.4,1587.0,202.0,17.9,1236.0,307.0,897.0,141.0,1900.0,1400.0,7.3,63.1,0.6499
39,12/03/2004 09.00.00,0.0,1545.0,0.0,22.1,1353.0,0.0,767.0,0.0,2058.0,1588.0,9.2,56.2,0.6561
40,12/03/2004 10.00.00,3.1,1350.0,208.0,14.0,1118.0,187.0,912.0,122.0,1712.0,1237.0,13.2,41.7,0.6320
41,12/03/2004 11.00.00,2.7,1263.0,166.0,11.6,1037.0,216.0,969.0,143.0,1598.0,1167.0,14.3,38.4,0.6243
42,12/03/2004 12.00.00,2.1,1206.0,114.0,10.2,986.0,143.0,1035.0,113.0,1537.0,959.0,15.0,36.5,0.6195
43,12/03/2004 13.00.00,2.5,1252.0,140.0,11.0,1016.0,160.0,1008.0,116.0,1593.0,983.0,16.1,34.5,0.6262
44,12/03/2004 14.00.00,2.7,1287.0,169.0,12.8,1078.0,163.0,949.0,123.0,1660.0,1061.0,16.3,35.7,0.6560
45,12/03/2004 15.00.00,2.9,1353.0,185.0,14.2,1122.0,190.0,922.0,126.0,1740.0,1139.0,15.8,37.0,0.6610
46,12/03/2004 16.00.00,2.8,1309.0,165.0,12.7,1073.0,178.0,954.0,120.0,1657.0,1112.0,15.9,37.2,0.6657
47,12/03/2004 17.00.00,2.4,1274.0,133.0,11.7,1041.0,150.0,1006.0,119.0,1610.0,994.0,16.9,34.3,0.6549
48,12/03/2004 18.00.00,3.9,1510.0,233.0,19.3,1277.0,206.0,812.0,149.0,1910.0,1410.0,15.1,39.6,0.6766
49,12/03/2004 19.00.00,3.7,1525.0,242.0,18.2,1246.0,202.0,821.0,145.0,1847.0,1448.0,14.4,43.4,0.7084

In [83]:

display(df.dtypes)

date_time             object
co(gt)               float64
pt08.s1(co)          float64
nmhc(gt)             float64
c6h6(gt)             float64
pt08.s2(nmhc)        float64
nox(gt)              float64
pt08.s3(nox)         float64
no2(gt)              float64
pt08.s4(no2)         float64
pt08.s5(o3)          float64
Temperature          float64
Relative Humidity    float64
Absolute Humidity    float64
dtype: object

In [84]:
# We Save the dataframe to another CSV file
df.to_csv('Cleaned_AirQuality.csv', index=False)